<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="d-inline"><span class="badge badge-success">Total: € {{price | number : '1.2-2'}}</span></h3>
      <h3 class="d-inline"><span class="badge badge-primary">Change: € {{change | number : '1.2-2'}}</span></h3>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-10">
      <input type="number" class="form-control" placeholder="amount" (keyup)="calChange()" [(ngModel)]="amount">
    </div>
  </div>
  <div class="d-flex flex-row-reverse mt-1 mb-1">
    <button class="btn btn-lg btn-success ml-1" (click)="pay('Card')">Card</button>
    <button class="btn btn-lg btn-primary" (click)="pay('Cash')">Cash</button>
  </div>
</div>
