<div class="container-fluid">
  <h4>{{orderLine.product.name}}</h4>
  <p>here comes the side dishes!</p>
  <p>here comes the dropdown</p>
  <label for="remark">remark: </label>
  <input id="remark" type="text">
</div>

