<ngb-tabset>
  <ngb-tab title="Products">
    <ng-template ngbTabContent>
      <app-product-list></app-product-list>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="side dishes">
    <ng-template ngbTabContent>
      <app-side-dish-list></app-side-dish-list>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
