<div class="Container">

  <div class="sidebar-container">
    <div class="sidebar">
      <app-core-sidebar></app-core-sidebar>
    </div>
  </div>
  <div class="main-container">
    <div class="router-outlet">
      <app-shared-alert></app-shared-alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
