<div class="modal-header">
  <h4 class="modal-title">New</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
      <div class="row">
        <div class="col form-group">
          <label for="nameInput">Naam:</label>
          <input type="text" class="form-control" id="nameInput" placeholder="naam" formControlName="name" name="sideDishName">
        </div>
      </div>

      <div class="row">
        <div class="col form-group">
          <label for="priceInput">Prijs:</label>
          <input type="number" class="form-control" id="priceInput" placeholder="prijs" formControlName="price" name="sideDishPrice">
        </div>
      </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="addNewSideDish()">Bewaar</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Annuleren</button>
</div>
