<div class="container-fluid">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <h3 class="h3">Tables</h3>
  <div class="card-deck">
    <div *ngFor="let table of tables" class="card table-card mb-3"
         [ngClass]="{
         'bg-light': table.isEmpty(),
         'bg-primary': !table.isEmpty(),
         'text-white': !table.isEmpty()}">
      <div class="card-header h4">{{'Table ' + table.tableNr}}</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">test</p>
      </div>
      <div class="card-footer">
        <div class="d-flex">
          <button class="btn btn-block flex-grow-1 mr-1"
                  (click)="openOrderDetail(table)"
                  [ngClass]="{
                'btn-primary': table.isEmpty(),
                'btn-light': !table.isEmpty()}">
            {{table.isEmpty()?'New':'Open'}}
          </button>
          <button class="btn btn-danger" *ngIf="!table.isEmpty()" (click)="openRemoveOrderConfirmWindow(table)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
