<div class="container-fluid">
  <h3 class="h3">Side dishes</h3>
  <p>Add a new Side dishi, edit or delete an existing one.</p>
  <div class="table-filter">
    <div (click)="addNewSideDish()" class="btnNew">
      <i class="fa fa-plus"></i>
    </div>
  </div>
  <div *ngIf="sideDishes != null">
    <ngx-datatable #table class="material"
                   [rows]="sideDishes"
                   [loadingIndicator]="loadingIndicator"
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [scrollbarH]="false"
                   [limit]="30"   >

      <!-- name Column-->
      <ngx-datatable-column name="name" headerClass="Datatable-header" cellClass="Datatable-cell">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="columnHeader-left" >Name</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="columnRow-left">
            <strong>{{row.name}}</strong>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <!-- Price Column -->
      <ngx-datatable-column name="price" headerClass="Datatable-header" cellClass="Datatable-cell">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="columnHeader-left">Price</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="columnRow-left">
            {{row.price}}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <!-- Actions Column-->
      <ngx-datatable-column name="actions" headerClass="Datatable-header" cellClass="Datatable-cell">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="columnHeader">{{ 'PRODUCTS.ACTIONS_COLUMN' | translate }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="columnRow">
            <button class="btn btn-warning btn-sm">
              <i class="fa fa-wrench" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteSideDish(row.id)">
              <i class="fa fa-trash-o" style="color: white"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <!-- footer -->
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          let-isVisible="isVisible">
          <div class="page-count">
            {{rowCount.toLocaleString()}} total
          </div>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>
</div>
