<div class="modal-header">
  <h4 class="modal-title">{{product.name ? product.name : 'New'}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div class="col form-group">
        <label for="quicklinkInput">Quicklink:</label>
        <input type="text" class="form-control" id="quicklinkInput" placeholder="nummer"  formControlName="quicklink" name="productQuicklink">
      </div>
      <div class="col form-group">
        <label for="priceInput">Prijs:</label>
        <input type="number" class="form-control" id="priceInput" placeholder="prijs" formControlName="price" name="productPrice">
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="nameInput">Naam:</label>
        <input type="text" class="form-control" id="nameInput" placeholder="naam" formControlName="name" name="productName">
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="ChNameInput">Chinese naam:</label>
        <input type="text" class="form-control" id="ChNameInput" placeholder="naam" formControlName="ch_name" name="productChName">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="productTypeDropdown" ngbDropdownToggle>{{this.form.controls['type'].value}}</button>
          <div ngbDropdownMenu aria-labelledby="productTypeDropdown">
            <button *ngFor="let type of productTypes" class="dropdown-item" (click)="selectType(type)">{{type}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="saveProduct()">Bewaar</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Annuleren</button>
</div>
