<div class="modal-header">
  <h4 class="modal-title">Hello!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{message}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close(true)">Ja</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Nee</button>
</div>
