<div class="container-fluid">
  <div class="row">
    <div class="col-3">test</div>
    <div class="col-9">
      <app-order-product-search (onItemSelected)="addOrderLineToOrder($event)"></app-order-product-search>
      <div class="d-flex flex-row-reverse mr-4">
        <button class="btn btn-primary btn-lg ml-2" (click)="openPayOrder()">Pay</button>
        <button class="btn btn-danger btn-lg mr-auto" (click)="openRemoveOrderConfirmWindow()">Delete</button>
      </div>
      <div *ngIf="order != null">
        <ngx-datatable #table class="material"
                       [rows]="order.orderLines"
                       [loadingIndicator]="loadingIndicator"
                       [columnMode]="'flex'"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [scrollbarH]="false"
                       [limit]="30"
                       [selected]="selected"
                       [selectionType]="'single'"
                       (select)='onItemSelected($event)'
                       (activate)="onActivate($event)">

          <!-- Quicklink Column-->
          <ngx-datatable-column [flexGrow]="0.5" name="quicklink" headerClass="Datatable-header" cellClass="Datatable-cell">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()" class="columnHeader-left" >{{ 'PRODUCTS.QUICKLINK_COLUMN' | translate }}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="columnRow-left">
                <strong>{{row.product.quicklink}}</strong>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- Naam Column -->
          <ngx-datatable-column [flexGrow]="2" name="name" headerClass="Datatable-header" cellClass="Datatable-cell">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()" class="columnHeader-left">{{ 'PRODUCTS.NAME_COLUMN' | translate }}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="columnRow-left">
                {{row.product.name}}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- count Column -->
          <ngx-datatable-column [flexGrow]="0.4" name="count" headerClass="Datatable-header" cellClass="Datatable-cell">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()" class="columnHeader-right">Count</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="columnRow-right">
                <p class="h6">{{row.count}}</p>
                <button type="button" class="btn btn-primary btn-sm"
                        (click)="addOrderLineToOrder(row.product)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger btn-sm"
                        (click)="removeOrderLineFromOrder(row)"><i class="fa fa-minus" aria-hidden="true"></i></button>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- Prijs Column -->
            <ngx-datatable-column [flexGrow]="0.3" name="price" headerClass="Datatable-header" cellClass="Datatable-cell">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()" class="columnHeader-right">{{ 'PRODUCTS.PRICE_COLUMN' | translate }}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="columnRow-right">
                {{calOrderLinePrice(row) | number : '1.2-2'}} €
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- footer -->
          <ngx-datatable-footer>
            <ng-template
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
              let-isVisible="isVisible">
              <div class="page-count">
                {{rowCount.toLocaleString()}} total
              </div>
              <div class="order-price-label">
                <h2><span class="badge badge-primary">Total: € {{calOrderPrice() | number : '1.2-2'}} </span></h2>
              </div>
            </ng-template>
          </ngx-datatable-footer>

        </ngx-datatable>
      </div>

    </div>
  </div>
</div>
