%columnHeader {
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: 1.5em;
}

.material {
  width: 95%;
  position: absolute;
  margin: 10px 0;

  .Datatable-cell {
    display: block;
  }

  .Datatable-cell-right {
    display: flex;
    justify-content: flex-end;
  }
  .Datatable-header {
    border: 0;
    border-bottom: 1px solid grey;
    background-color: lightgrey;
    cursor: pointer;
  }
  .columnHeader-left {
    @extend %columnHeader;
    justify-content: flex-start;
  }

  .columnHeader-right {
    @extend %columnHeader;
    justify-content: flex-end;
  }
  .columnRow-left {
    width: 100%;
    text-align: left;
  }

  .columnRow-right {
    width: 100%;
    text-align: right;
  }

  .h6 {
    display: inline;

  }
}

.order-price-label {
  margin: 10px 5px 5px 5px;
}
