<mat-sidenav-container class="navContainer"
[ngStyle]="{ 'width.em': sidenavWidth }">
  <mat-sidenav class="navContent"#sidenav mode="side"
  opened="true">

    <mat-nav-list class="menuItems">

      <mat-list-item routerLink="/home" routerLinkActive="active">
        <div fxFlex="10"></div>
        <div class="listItem">
          <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/order/take-in" routerLinkActive="active">
        <div fxFlex="10"></div>
        <div class="listItem">
          <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/order/takeaway" routerLinkActive="active">
        <div fxFlex="10"></div>

        <div class="listItem">
          <i class="fa fa-car fa-2x" aria-hidden="true"></i>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/product" routerLinkActive="active">
        <div fxFlex="10"></div>
        <div class="listItem">
          <i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin()" routerLink="/admin" routerLinkActive="active">
        <div fxFlex="10"></div>
        <div class="listItem">
          <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
        </div>
      </mat-list-item>

    </mat-nav-list>


    <div class="loginIcon" (click)="closeMenu()">

        <button class="btn btn-outline-success loginButton" *ngIf="!isLoggedIn();else userProfile" routerLink="/login" routerLinkActive="active">
          <i class="fa fa-use fa-2x"></i>
          <span>Login</span>
        </button>

        <ng-template #userProfile>
          <a routerLink="/login" routerLinkActive="active">
            <i class="fa fa-user fa-3x"></i>
            <p>{{getUsername()}}</p>
          </a>
        </ng-template>
      </div>
  </mat-sidenav>
</mat-sidenav-container>
